{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static './myglobal.css' %}"/>
<body>

<h1>WELCOME {{firstname}}, you rule here.</h1>

<h3>Today is {% now "Y-d-m" %}</h3>


<table>

    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    {% for x in mymembers %}
        <tr>
          <td>{{x.id}}</td>
          <td>{{x.firstName}}</td>
          <td>{{x.lastName}}</td>
        </tr>
    {% endfor %}
</table>

<br><br><br>

<h3>Filtering</h3>
<table>
    <tr>
        <th>ID</th>
        <th>LAST NAME</th>
    </tr>
  </tr>
  {% for x in miembros %}
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
      </tr>
  {% endfor %}
</table>


{% comment %}
    {% for x in mymembers %}
      <li>
        {{x.firstName}}
      </li>
    {% endfor %}

    <br><br><br>
    <h3>FRUITS</h3>

    {% for k in fruits %}
      <li>
        fruit: {{k}}
      </li>
    {% endfor %}

    {% if 'Apple' in fruits %}
      <p>🍎</p>
    {% endif %}

    {% if 'Strawberry' in fruits %}
      <p>🍓</p>
    {% endif %}
{% endcomment %}


<p>In views.py you can see what the fruits variable looks like.</p>

</body>
</html>